# List

#### Lists are used to store multiple data at once,ordered
#### List stores element and each element or value that is inside of a list is called an item
#### List can store elements of different types (integer, float, string, boolean)
#### List can store duplicate elements
#### Lists are changeable, meaning that we can change, add, and remove items in a list after it has been created
#### Lists are created using square brackets

# ---------------------------------------------------------------------------------------------------------------

### How to create a list

In [1]:
empty = []
numbers = [1,2,3,4,5,6,7,8,9,10]
heights = [10.5, 20.5, 30.5, 40.5, 50.5]
fruits = ['Apple', 'Banana', 'Cherry', 'Orange', 'Apple']
boolean = [True, False]
information = [['Raihan', 20], ['Aman', 20]]
medical_report = [1, 170.5, 'Raihan', True] # Can store elments of multiple data types

print(f'Empty List ----------------------- {empty}')
print(f'List of Integer type ------------- {numbers}')
print(f'List of Float type --------------- {heights}')
print(f'List of String type -------------- {fruits}')
print(f'List of Boolean type ------------- {boolean}')
print(f'List inside a List --------------- {information}')
print(f'List of Complex type ------------- {medical_report}')

Empty List ----------------------- []
List of Integer type ------------- [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List of Float type --------------- [10.5, 20.5, 30.5, 40.5, 50.5]
List of String type -------------- ['Apple', 'Banana', 'Cherry', 'Orange', 'Apple']
List of Boolean type ------------- [True, False]
List inside a List --------------- [['Raihan', 20], ['Aman', 20]]
List of Complex type ------------- [1, 170.5, 'Raihan', True]

In [2]:
numbers = [1,2,3,4,5,6,7,8,9,10]
print(type(numbers))

<class 'list'>

In [3]:
numbers = [1,2,3,4,5,6,7,8,9,10]
print(len(numbers))

10

In [4]:
# List can store duplicate values
numbers = [1,2,3,4,5,6,7,8,9,10,10,10,10,10]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10, 10, 10, 10]

# ---------------------------------------------------------------------------------------------------------------

### How to access items of a list or list slicing

In [5]:
# Indexing
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[4])

5

In [6]:
# Negative Indexing
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[-6])

5

In [7]:
# Range
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[0:5]) # This will only print items from index 1 to 4 although we have specified 5 in the range

[1, 2, 3, 4, 5]

# ---------------------------------------------------------------------------------------------------------------

### List Methods

### append() -------------- Adds an element at the end of the list
### insert() ----------------- Adds an element at the specified position
### clear()	----------------- Removes all the elements from the list
### copy() ----------------- Returns a copy of the list
### count()	---------------- Returns the number of elements with the specified value
### extend() --------------- Add the elements of a list (or any iterable), to the end of the current list
### index() ----------------- Returns the index of the first element with the specified value
### pop() ------------------- Removes the element at the specified position
### remove() -------------- Removes the item with the specified value
### reverse() -------------- Reverses the order of the list
### sort() ------------------- Sorts the list

In [8]:
# Append
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers)
numbers.append(11)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [9]:
# Insert
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers)
numbers.insert(0,11)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[11, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
# Clear
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers)
numbers.clear()
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[]

In [11]:
# Copy
numbers = [1,2,3,4,5,6,7,8,9,10]
numerical_values = numbers.copy()
print(numerical_values)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
# Count
numbers = [1,2,3,4,5,6,7,8,9,10,10,10,10,10]
print(numbers.count(1))
print(numbers.count(10))

1
5

In [13]:
# Extend
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers)
alphabets = ['a','b','c','d']
print(alphabets)
numbers.extend(alphabets)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
['a', 'b', 'c', 'd']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'a', 'b', 'c', 'd']

In [14]:
# Index
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers.index(5)

4

In [15]:
# Pop 
# To delete an element pass the index value not the value itself
alphabets = ['a','b','c','d']
print(alphabets)
alphabets.pop(3)
print(alphabets)

['a', 'b', 'c', 'd']
['a', 'b', 'c']

In [16]:
# Remove
# To delete an element pass the value itself
alphabets = ['a','b','c','d']
print(alphabets)
alphabets.remove('a')
print(alphabets)

['a', 'b', 'c', 'd']
['b', 'c', 'd']

In [17]:
# Reverse
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers.reverse()
print(numbers)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [18]:
# Sort
alphabets = ['z','a','m','o']
alphabets.sort()
print(alphabets)

['a', 'm', 'o', 'z']

# ---------------------------------------------------------------------------------------------------------------

### How to print the elements of a list using loop

In [19]:
numbers = [1,2,3,4,5,6,7,8,9,10]
for i in numbers:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [20]:
numbers = [1,2,3,4,5,6,7,8,9,10]
for i in range(len(numbers)):
    print(numbers[i])

1
2
3
4
5
6
7
8
9
10

In [22]:
l = []
size = int(input('Enter the size of list :'))
for i in range(size):
    l.append(int(input(f'Enter {i+1} element :')))
print(f'Elements of the List : {l}')

Enter the size of list :5
Enter 1 element :1
Enter 2 element :2
Enter 3 element :3
Enter 4 element :4
Enter 5 element :5
Elements of the List : [1, 2, 3, 4, 5]

In [23]:
sum = 0
for i in l:
    sum += i
print(sum)

15

# ---------------------------------------------------------------------------------------------------------------

### Mathematical Functions

In [24]:
numbers = [1,2,3,4,5,6,7,8,9,10]
alphabets = ['a','b','c','d']
output = numbers + alphabets
print(output)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'a', 'b', 'c', 'd']

In [25]:
numbers = [1,2,3,4,5,6,7,8,9,10]
print(min(numbers))
print(max(numbers))

1
10

### Multidimentional List

In [32]:
mul_list = [[1,2,3,4,5],
            [6,7,8,9,10],
            [11,12,13,14,15]
           ]
print(mul_list)

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15]]

# ---------------------------------------------------------------------------------------------------------------

# Tuple

#### Tuple is a collection which is ordered and unchangeable
#### Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created

# ---------------------------------------------------------------------------------------------------------------

### How to create a tuple

In [26]:
days = ('Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday')
months = ('January','February','March','April','May','June','July','August','September','October','November','December')
medical_report = (1, 170.5, 'Raihan', True)

print(days)
print(months)
print(medical_report)

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')
('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December')
(1, 170.5, 'Raihan', True)

In [27]:
alphabets = ('a','b','c','d','e','f','g','h')
print(type(alphabets))

<class 'tuple'>

# ---------------------------------------------------------------------------------------------------------------

### How to print the elements of a tuple using loop

In [28]:
for i in alphabets:
    print(i)

a
b
c
d
e
f
g
h

In [29]:
alphabets = ('a','b','c','d','e','f','g','h')
for i in range(len(alphabets)):
    print(alphabets[i])

a
b
c
d
e
f
g
h

# ---------------------------------------------------------------------------------------------------------------

### Tuple Methods

In [1]:
alphabets = ('a','b','c','d','e','f','g','h')
print(len(alphabets))

8

In [3]:
alphabets = ('a','b','c','d','e','f','g','h','a','a','a','a')
print(alphabets.count('a'))

5

In [4]:
alphabets = ('a','b','c','d','e','f','g','h','a','a','a','a')
print(alphabets.index('d'))

3

### We can perform all the list operations in tuple after converting that tuple into a list and again converting it to a tuple after operation

In [30]:
alphabets = ('a','b','c','d','e','f','g','h')
alphabets.insert(0,'i')

AttributeError: 'tuple' object has no attribute 'insert'