# Sets

#### Set items are unordered, unchangeable, and do not allow duplicate values
#### Set items are unchangeable, meaning that we cannot change the items after the set has been created 
#### Once a set is created, you cannot change its items, but you can remove items and add new items

# ---------------------------------------------------------------------------------------------------------------

### How to create a Set

In [18]:
empty = {}
numbers = {1,2,3,4,5,6,7,8,9,10}
heights = {10.5, 20.5, 30.5, 40.5, 50.5}
fruits = {'Apple', 'Banana', 'Cherry', 'Orange', 'Apple'}
boolean = {True, False}
# information = {{'Raihan', 20}, {'Aman', 20}} # We cannot have a set inside a set as we used to have in case of a list
medical_report = {1, 170.5, 'Raihan', True} # Can store elments of multiple data types

print(f'Empty Set ------------------------ {empty}')
print(f'Set of Integer type -------------- {numbers}')
print(f'Set of Float type ---------------- {heights}')
print(f'Set of String type --------------- {fruits}')
print(f'Set of Boolean type -------------- {boolean}')
print(f'Set inside a Set ----------------- {information}')
print(f'Set of Complex type -------------- {medical_report}')

Empty Set ------------------------ {}
Set of Integer type -------------- {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Set of Float type ---------------- {50.5, 20.5, 40.5, 10.5, 30.5}
Set of String type --------------- {'Cherry', 'Banana', 'Apple', 'Orange'}
Set of Boolean type -------------- {False, True}
Set inside a Set ----------------- [['Raihan', 20], ['Aman', 20]]
Set of Complex type -------------- {'Raihan', 1, 170.5}

In [19]:
numbers = {1,2,3,4,5,6,7,8,9,10}
print(type(numbers))

<class 'set'>

In [24]:
numbers = {1,2,3,4,5,6,7,8,9,10}
print(len(numbers))

10

In [21]:
# Set cannot store duplicate elements
numbers = {1,2,3,4,5,6,7,8,9,10,10,10,10,10}
print(numbers)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# ---------------------------------------------------------------------------------------------------------------

### How to access items of a set

In [25]:
numbers = {1,2,3,4,5,6,7,8,9,10}
print(numbers[1])

TypeError: 'set' object is not subscriptable

# ---------------------------------------------------------------------------------------------------------------

### How to print the elements of a set using loop

In [26]:
numbers = {1,2,3,4,5,6,7,8,9,10}
for i in numbers:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [27]:
numbers = {1,2,3,4,5,6,7,8,9,10}
for i in range(len(numbers)):
    print(numbers[i])

TypeError: 'set' object is not subscriptable

# ---------------------------------------------------------------------------------------------------------------

### Set Methods

### add() ----------------------------------------------- Adds an element to the set
### clear() --------------------------------------------- Removes all the elements from the set
### copy() --------------------------------------------- Returns a copy of the set
### discard() ------------------------------------------ Remove the specified item
### remove() ------------------------------------------- Removes the specified item
### pop() ------------------------------------------------ Remove a random item from the set
### union() ---------------------------------------------- Return a set containing the union of sets
### update() -------------------------------------------- Update the current set with the union of this set and others
### isdisjoint() ---------------------------------------- Return True if no items in first set is present in second set
### issubset() ----------------------------------------- Return True if all items in first set are present in second set
### issuperset() -------------------------------------- Return True if all items second set are present in fisrt set
### intersection() ------------------------------------ Return a set that contains the items that exist in both sets
### intersection_update() ------------------------ Removes the items in this set that are not present in other
### difference() -------------------------------------- Return a set that contains the items that only exist in first set and not in second set 
### difference_update() --------------------------- Removes the items in this set that are also included in another
### symmetric_difference() ----------------------- Return a set that contains all items from both sets, except items that are present in both sets
### symmetric_difference_update() ------------ Inserts the symmetric differences from this set and another

In [38]:
# Add
alphabets = {'a','b','c','d'}
print(alphabets)
alphabets.add('e')
print(alphabets)

{'a', 'b', 'd', 'c'}
{'a', 'b', 'e', 'd', 'c'}

In [35]:
# Clear
alphabets = {'a','b','c','d'}
print(alphabets)
alphabets.clear()
print(alphabets)

{'a', 'b', 'd', 'c'}
set()

In [34]:
# Copy
alphabets = {'a','b','c','d'}
alpha_copy = alphabets.copy()
print(alpha_copy)

{'a', 'b', 'd', 'c'}

In [30]:
# Discard
alphabets = {'a','b','c','d'}
alphabets.discard('a')
print(alphabets)

{'b', 'd', 'c'}

In [31]:
# Remove
alphabets = {'a','b','c','d'}
alphabets.remove('a')
print(alphabets)

{'b', 'd', 'c'}

In [33]:
# Pop
alphabets = {'a','b','c','d'}
alphabets.pop()
print(alphabets)

{'b', 'd', 'c'}

In [40]:
# Union
alphabets = {'a','b','c','d'}
numbers = {1,2,3,4,5,6,7,8,9,10}
z = alphabets.union(numbers)
print(z)

{1, 2, 'a', 'b', 3, 4, 5, 6, 7, 8, 9, 10, 'd', 'c'}

In [42]:
# Update
alphabets = {'a','b','c','d'}
numbers = {1,2,3,4,5,6,7,8,9,10}
alphabets.update(numbers)
print(alphabets)

{1, 2, 'a', 'b', 3, 4, 5, 6, 7, 8, 9, 10, 'd', 'c'}

In [20]:
# Is disjoint
x = {'a','b','c','d'}
y = {'e','f','g','h'}
z = x.isdisjoint(y)
print(z)

True

In [18]:
# Is subset
x = {'a','b','c','d'}
y = {'a','b','c','d','e','f','g','h'}
z = x.issubset(y)
print(z)

True

In [23]:
# Is superset
x = {'a','b','c','d'}
y = {'a','b','c','d','e','f','g','h'}
z = y.issuperset(x)
print(z)

True

In [21]:
# Intersection
x = {'a','b','c','d'}
y = {'a','b','e','f','g','h'}
z = x.intersection(y)
print(z)

{'a', 'b'}

In [47]:
# Difference function is similar to substracting first set from second set
x = {'a','b','c','d'}
y = {'a','b','e','f','g','h'}
 
y_x = y.difference(x)
print(x_y)
print(y_x)

# x-y = {'a','b','c','d'} - {'a','b','e','f','g','h'}
# y-x = {'a','b','e','f','g','h'} - {'a','b','c','d'}

{'d', 'c'}
{'f', 'e', 'h', 'g'}

In [44]:
# Symmetric difference
x = {'a','b','c','d'}
y = {'a','b','e','f','g','h'}
x_y = x.symmetric_difference(y)   
print(x_y)

{'f', 'b', 'h', 'g', 'e', 'd', 'c'}