# Dictionary

#### A dictionary is a collection which is ordered, changeable and do not allow duplicates
#### Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.
#### Dictionaries cannot have two items with the same key
#### Dictionaries are used to store data values in key:value pairs
#### Dictionaries are written with curly brackets, and have keys and values

# ---------------------------------------------------------------------------------------------------------------

### How to create a Dictionary

In [23]:
customers = {
    'name':'Aman',
    'age':20,
    'gender':'M',
    'country':'India',
    'income':1000000,
    'phone no':9977553311,
}
print(customers)

{'name': 'Aman', 'age': 20, 'gender': 'M', 'country': 'India', 'income': 1000000, 'phone no': 9977553311}

In [25]:
customer = dict(name='Aman',age=20,country='India')
print(customer)

{'name': 'Aman', 'age': 20, 'country': 'India'}

In [24]:
customer_info = {1:['Aman',20,'India'],
                2:['Bhavesh',21,'China'],
                3:['Chetan',22,'Japan'],
                4:['Deepanshu',23,'USA'],
                5:['Raihan',24,'India']}

print(customer_info)

{1: ['Aman', 20, 'India'], 2: ['Bhavesh', 21, 'China'], 3: ['Chetan', 22, 'Japan'], 4: ['Deepanshu', 23, 'USA'], 5: ['Raihan', 24, 'India']}

In [ ]:
# Nested Dictionary
customer_details = {
    'Aman'{:
          },
    {},
    {},
}

# ---------------------------------------------------------------------------------------------------------------

In [26]:
customers = {
    'name':'Aman',
    'age':20,
    'gender':'M',
    'country':'India',
    'income':1000000,
    'phone no':9977553311,
}

print(type(customers))

<class 'dict'>

In [29]:
customers = {
    'name':'Aman',
    'age':20,
    'gender':'M',
    'country':'India',
    'income':1000000,
    'phone no':9977553311,
}

print(len(customers))

6

# ---------------------------------------------------------------------------------------------------------------

### How to access items of a dictionary

In [42]:
customers = {
    'name':'Aman',
    'age':20,
    'gender':'M',
    'country':'India',
    'income':1000000,
    'phone no':9977553311,
}

customers['age']

20

In [34]:
customers = {
    'name':'Aman',
    'age':20,
    'gender':'M',
    'country':'India',
    'income':1000000,
    'phone no':9977553311,
}

customers.get('age')

20

In [44]:
customers = {
    'name':'Aman',
    'age':20,
    'gender':'M',
    'country':'India',
    'income':1000000,
    'phone no':9977553311,
}

customers.keys()

dict_keys(['name', 'age', 'gender', 'country', 'income', 'phone no'])

In [39]:
customers = {
    'name':'Aman',
    'age':20,
    'gender':'M',
    'country':'India',
    'income':1000000,
    'phone no':9977553311,
}

customers.values()

dict_values(['Aman', 20, 'M', 'India', 1000000, 9977553311])

# ---------------------------------------------------------------------------------------------------------------

### How to print the elements of a dictionary using loop

In [53]:
customers = {
    'name':'Aman',
    'age':20,
    'gender':'M',
    'country':'India',
    'income':1000000,
    'phone no':9977553311,
}

for i in customers:
    print(customers[i])

Aman
20
M
India
1000000
9977553311

In [54]:
customers = {
    'name':'Aman',
    'age':20,
    'gender':'M',
    'country':'India',
    'income':1000000,
    'phone no':9977553311,
}

for keys in customers.keys():
    print((keys))

name
age
gender
country
income
phone no

In [55]:
customers = {
    'name':'Aman',
    'age':20,
    'gender':'M',
    'country':'India',
    'income':1000000,
    'phone no':9977553311,
}

for values in customers.values():
    print((values))

Aman
20
M
India
1000000
9977553311

In [56]:
customers = {
    'name':'Aman',
    'age':20,
    'gender':'M',
    'country':'India',
    'income':1000000,
    'phone no':9977553311,
}

for keys,values in customers.items():
    print((keys,values))

('name', 'Aman')
('age', 20)
('gender', 'M')
('country', 'India')
('income', 1000000)
('phone no', 9977553311)

# ---------------------------------------------------------------------------------------------------------------

### Dictionary Methods

### clear() -------------- Removes all the elements from the dictionary
### copy() -------------- Returns a copy of the dictionary
### fromkeys() ------- Returns a dictionary with the specified keys and value
### get() ---------------- Returns the value of the specified key
### items() ------------- Returns a list containing a tuple for each key value pair
### keys() -------------- Returns a list containing the dictionary's keys
### values() ----------- Returns a list of all the values in the dictionary
### pop() --------------- Removes the element with the specified key
### popitem() --------- Removes the last inserted key-value pair
### update() ----------- Updates the dictionary with the specified key-value pairs
### setdefault() ------- Returns the value of the specified key. If the key does not exist: insert the key, with the specified value

# ---------------------------------------------------------------------------------------------------------------